
<div ng-app="agenda">

    <agenda></agenda>



</div>

@section Scripts
    {
<script type="text/javascript" src="~/lib/angularjs/angular.min.js"></script>
<script src="~/lib/angularjs/angular-locale_pt-br.js"></script>
<script src="~/lib/angularjs/angular-animate.min.js"></script>
<script src="~/lib/angularjs/angular-touch.min.js"></script>
<script type="text/javascript" src="~/lib/angularjs/ui-bootstrap-tpls-2.5.0.min.js"></script>

@*<link href="~/lib/ng-spin/ng-spin.css" rel="stylesheet" />
<script src="~/lib/ng-spin/ng-spin.js"></script>*@

<link href="~/lib/angularui-notification/angular-ui-notification.css" rel="stylesheet" />
<script src="~/lib/angularui-notification/angular-ui-notification.js"></script>

@*<script src="~/lib/ngMask/ngMask.js"></script>*@


<link href="~/lib/ladda/ladda-themeless.min.css" rel="stylesheet" />
<script src="~/lib/ladda/spin.min.js"></script>
<script src="~/lib/ladda/ladda.min.js"></script>
<script src="~/lib/ladda/angular-ladda.js"></script>



<script src="~/lib/uiMask/uimask.js"></script>

<script src="~/lib/momentjs/moment.js"></script>

<script src="~/lib/angular-date-time-input/dateTimeInput.js"></script>

<script type="text/javascript" src="~/Features/Agenda/AgendaAPP.js"></script>

<script src="~/Features/Agenda/cadastrarAtendimento.js"></script>

<script src="~/Features/Agenda/bottom-comands.js"></script>
<script src="~/Features/Agenda/calendario.js"></script>

<script src="~/Features/Agenda/date-comp.js"></script>

<script src="~/Features/Agenda/horarios.js"></script>
}